/* ESTILOS GENERALES */

body{ 
	font-family: sans-serif;
	font-size: 18px;
	background: url("../img/fondo.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;	
}

* {
	margin: 0;
	padding: 0;
}

ul{
	list-style-type: none;
}

a {
	text-decoration: none;
}

/* index */

.menu {
	background-color: black;
	text-align: center;
}

.item {
	display: inline-block;
}

.item a{
	display: block;
	color: white;
	padding: 20px;
	font-size: 15px;
}

.item a:hover {
	background-color: #333;
}

footer {
	padding: 15px;
	text-align: center;
	color: white;
	background-color: black;
	font-family: monospace;
}

.iframe-video {
	width: 300px;
}

.ubicacion {
	padding: 20px;
	color: white;
	background-color: black;
}

.ubicacion h2 {
	margin: 10px 0;
	font-family: monospace;
}

.iframe-map {
	display: block;
	margin: auto;
	width: 100%;
}

.imag1{
	width: 100%;
	height: 300px;
}

.cuerpo{
	padding: 25px 50px;
	max-width: 700px;
	margin: auto;
	background-color: white;
}

.cuerpo p {
	margin: 20px 0;
}


/* HISTORIA */

.table-historia {
	border-collapse: collapse;
}

.table-historia, th, td {
	border: 1px solid #ddd;
	padding: 8px;
}

.cuerpo img {
	margin: 10px 0;
	border: 2px solid black;
}

/*************** AXIOMAS ******************/

.axiomas-list {
	list-style-type: circle;
	margin-top: 20px;
	margin-left: 20px;
}


/************ GEOMETRIA ************/

.iframe-geometria {
	border: 2px solid black;
	box-shadow: 10px 10px 20px;
	margin: 20px 0;
}

.table-geometria {
	margin-top: 20px;
	border-collapse: collapse;
	text-align: center;
	max-width: 400px;
	margin: auto;
	box-shadow: 5px 5px 20px;
}

.table-geometria, th, td {
	border: 2px solid #000;
}

.titulo{
	text-align: center;
}



/***** CONTACTENOS *****/

.mapa{
	margin-top: 30px;
}

.edad{
	width: 100px;
}

.imag2{
	width: 100%;
	height: 300px;
}

input{
	padding: 8px;
	text-align: center;
	margin: 8px;
	border: 2px solid rgb(212, 212, 212);
}

label{
	font-size: 14px;
	text-align: center;
}

.form-principal {
	background: white;
	padding: 20px;
}

.form {
	display: inline-block;
	text-align: center;
	border: 2px solid gray;
	border-radius: 10px;
	padding: 20px;
	background-color: white;
	margin: 0 10px;
}

.botones{
	text-align: center;
	margin-top: 50px;
}

.botonE:hover,.botonR:hover{
	background-color: #111;
}

.botonE,.botonR{
	background-color: #333;
	padding:10px;
	margin:30px;
	border: 1px solid black;
	color: white;
	border-radius: 4px;
}


.msj{
	text-align: center;
	color: white;
	background: black;
	padding: 10px;
}

.msj h2 {
	margin: 0;
	padding: 10px;
}

textarea{
	width: 300px;
	height: 70px;
}

/**** SERVICIO EN LINEA ******/

.encabezado {
	background: black;
	color: white;
	text-align: center;
}

.encabezado .logo {
	padding: 20px 0;
}

.encabezado img {
	width: 100px;
}

.chat-info {
	position: relative;
	height: 500px;
	padding: 50px 0;
	background: white;
}

.chat-info h3 {
	margin: 10px;
	margin-left: 20px;
}

hr {
	margin: 10px;
	margin-left: 20px;
	width: 80%;
}

.chat-info img {
	margin: 20px 60px;
	margin-left: 20px;
}

.chat-info p {
	margin: 10px 0;
	margin-left: 20px;
}

.chat {
	display: block;
	position: fixed;
	bottom: 0;
	right: 40px;
	box-shadow: 5px 5px 18px rgb(97, 97, 97);
	width: 300px;
	height: 500px;
	background: white;
}

.chat .chat-head {
	background: rgb(255, 208, 0);
	text-align: center;
	padding: 20px 30px;
	color: white;
}

.chat .chat-body {
	padding: 20px;
	margin: 10px;
	border-radius: 5px;
	text-align: center;
	border: 1px solid gray;
	height: 350px;
}

.chat input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;	
}

.chat input[type=button] {
	border: none;
	background: rgb(212, 16, 16);
	color: white;
}

/*******/
