/* ESTILOS GENERALES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{ 
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background: url("../img/fondo.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;	
}

*{
	margin: 0;
	padding: 0;
}

ul{
	list-style-type: none;
}

a {
	text-decoration: none;
}

/* index */

.menu {
	background-color: black;
	text-align: center;
}

.item {
	display: inline-block;
}

.titulo-user {
	background: black;
	color: white;
	padding: 20px;
	text-align: center;
}

.item a{
	display: block;
	color: white;
	padding: 20px;
	font-size: 15px;
}

.item a:hover {
	background-color: #333;
}

footer {
	padding: 15px;
	text-align: center;
	color: white;
	background-color: black;
	font-family: monospace;
}

.iframe-video {
	width: 300px;
}

.ubicacion {
	padding: 20px;
	color: white;
	background-color: black;
}

.ubicacion h2 {
	margin: 10px 0;
	font-family: monospace;
}

.iframe-map {
	display: block;
	margin: auto;
	width: 100%;
}

.imag1{
	width: 100%;
	height: 300px;
}

.cuerpo{
	padding: 25px 50px; /*arriba y abajo /izquierda y derecha */
	max-width: 700px;
	margin: auto;
	background-color: white;
}

.cuerpo p {
	margin: 20px 0; /* */
}


/* HISTORIA */

.table-historia {
	border-collapse: collapse;
}

.table-historia, th, td {
	border: 1px solid #ddd;
	padding: 8px;
}

.cuerpo img {
	margin: 10px 0;
	border: 2px solid black;
}


/*************** AXIOMAS ******************/

.axiomas-list {
	list-style-type: circle;
	margin-top: 20px;
	margin-left: 20px;
}


/************ GEOMETRIA ************/

.iframe-geometria {
	border: 2px solid black;
	box-shadow: 10px 10px 20px;
	margin: 20px 0;
}

.table-geometria {
	margin-top: 20px;
	border-collapse: collapse;
	text-align: center;
	max-width: 400px;
	margin: auto;
	box-shadow: 5px 5px 20px;
}

.table-geometria, th, td {
	border: 2px solid #000;
}

.titulo{
	text-align: center;
}



/***** CONTACTENOS *****/

.edad {
	width: 100px;
}

.imag2 {
	width: 100%;
	height: 300px;
}

.form-principal {
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	text-align: center;
	max-width: 400px;
	margin: auto;
}

.btn_mostrar {
	margin: 10px;
	padding: 20px;
	border: none;
	border-radius: 5px;
	background: rgb(31, 14, 131);
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.btn_mostrar:hover {
	background: rgb(47, 19, 209);
}

.form-principal h3 {
	margin-bottom: 20px;
}


.form-principal input {
	padding: 10px;
	background: rgb(240, 240, 240);
	text-align: center;
	margin: 8px;
	width: 300px;
	border-radius: 5px;
	border: 2px solid rgb(212, 212, 212);
}

.form-principal label {
	padding: 8px;
	margin: 8px;
	width: 300px;
	border-radius: 5px;
}

.msj{
	text-align: center;
	color: white;
	background: #333;
	padding: 10px;
}

.msj h2 {
	margin: 0;
	padding: 10px;
}

textarea {
	width: 300px;
	height: 70px;
}

.table_usuarios {
	text-align: center;
	background: white;
	margin: 50px;
	border-collapse: collapse;
}

/***** Factura *****/

